{% import "_includes/forms" as forms %}

<div class="flex-grow field-additionalName">
    <label for="{{ name ~ '-additionalName' }}">{{ fieldLabels['additionalName']|t('nsm-fields') }}</label>
    {{ forms.text({
        id: name ~ '-additionalName',
        name: name ~ '[additionalName]',
        value: value ? value.additionalName : null
    }) }}
</div>
