{% import "_includes/forms" as forms %}

<div class="flex-grow field-addressLine2">
    <label for="{{ name ~ '-addressLine2' }}">{{ fieldLabels['addressLine2']|t('nsm-fields') }}</label>
    {{ forms.text({
        id: name ~ '-addressLine2',
        name: name ~ '[addressLine2]',
        value: value ? value.addressLine2 : null
    }) }}
</div>
