{% import "_includes/forms" as forms %}

<div class="field-administrativeArea">
    <label for="{{ name ~ '-administrativeArea' }}">
        {{ fieldLabels['administrativeArea']|t('nsm-fields') }}
    </label>
    {% if subdivisionOptions is empty %}
        {{ forms.text({
            id: name ~ '-administrativeArea',
            name: name ~ '[administrativeArea]',
            value: value ? value.administrativeArea : null
        }) }}
    {% else %}
        {{ forms.select({
            id: name ~ '-administrativeArea',
            name: name ~ '[administrativeArea]',
            value: value ? value.administrativeArea : null,
            options: subdivisionOptions
        }) }}
    {% endif %}
</div>
