{% import "_includes/forms" as forms %}

<div class="flex-grow field-familyName">
    <label for="{{ name ~ '-familyName' }}">{{ fieldLabels['familyName']|t('nsm-fields') }}</label>
    {{ forms.text({
        id: name ~ '-familyName',
        name: name ~ '[familyName]',
        value: value ? value.familyName : null
    }) }}
</div>
