{% import "_includes/forms" as forms %}

<div class="field-latitude">
    <label for="{{ name ~ '-latitude' }}">{{ fieldLabels['latitude']|t('nsm-fields') }}</label>
    {{ forms.text({
        id: name ~ '-latitude',
        name: name ~ '[latitude]',
        value: value ? value.latitude : null
    }) }}
</div>
