{% import "_includes/forms" as forms %}

<div class="flex-grow field-locality">
    <label for="{{ name ~ '-locality' }}">{{ fieldLabels['locality']|t('nsm-fields') }}</label>
    {{ forms.text({
        id: name ~ '-locality',
        name: name ~ '[locality]',
        value: value ? value.locality : null
    }) }}
</div>
