{% import "_includes/forms" as forms %}

<div class="field-longitude">
    <label for="{{ name ~ '-longitude' }}">{{ fieldLabels['longitude']|t('nsm-fields') }}</label>
    {{ forms.text({
        id: name ~ '-longitude',
        name: name ~ '[longitude]',
        value: value ? value.longitude : null
    }) }}
</div>
