{% import "_includes/forms" as forms %}

<div class="flex-grow field-mapUrl">
    <label for="{{ name ~ '-mapUrl' }}">{{ fieldLabels['mapUrl']|t('nsm-fields') }}</label>
    {{ forms.text({
        id: name ~ '-mapUrl',
        name: name ~ '[mapUrl]',
        value: value ? value.mapUrl : null
    }) }}
</div>
