{% import "_includes/forms" as forms %}

<div class="flex-grow field-recipient">
    <label for="{{ name ~ '-recipient' }}">{{ fieldLabels['recipient']|t('nsm-fields') }}</label>
    {{ forms.text({
        id: name ~ '-recipient',
        name: name ~ '[recipient]',
        value: value ? value.recipient : null
    }) }}
</div>
