{% import "_includes/forms" as forms %}

<div class="field-postalCode">
    <label for="{{ name ~ '-sortingCode' }}">{{ fieldLabels['sortingCode']|t('nsm-fields') }}</label>
    {{ forms.text({
        id: name ~ '-sortingCode',
        name: name ~ '[sortingCode]',
        value: value ? value.sortingCode : null
    }) }}
</div>
